.contact-container {
  padding: 40px;
  font-family: Arial, sans-serif;
}

.breadcrumb {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}

.contact-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.contact-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-info-card {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.icon {
  font-size: 24px;
  color: #ff0000;
  margin-bottom: 10px;
}

.contact-info-card h3 {
  font-size: 18px;
  color: #000000;
  margin-bottom: 10px;
}

.contact-info-card p {
  font-size: 14px;
  color: #000000;
}

.contact-form {
  flex: 1.5;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}

.contact-form textarea {
  resize: none;
  height: 150px;
}

.contact-form button {
  background-color: #d84646;
  color: white;
  width: 150px;
  display: block;
  margin: 0 auto;
  padding: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.contact-form button:hover {
  background-color: darkred;
}

/* Responsive Design */
@media (max-width: 768px) {
  .contact-wrapper {
    flex-direction: column;
  }

  .contact-form,
  .contact-info {
    flex: none;
  }
}

@media (max-width: 480px) {
  .breadcrumb {
    font-size: 12px;
  }

  .contact-info-card h3 {
    font-size: 16px;
  }

  .contact-info-card p {
    font-size: 12px;
  }

  .contact-form input,
  .contact-form textarea {
    padding: 10px;
    font-size: 12px;
  }

  .contact-form button {
    width: 100%;
    font-size: 14px;
  }
}
