.main .header{
  padding: 30px 45px;
}

@media(max-width:950px){
  
  .main .header .info{
    display: none;
   
  }
  .main .header .nav-links{
     font-size: small;
    margin-left: -40px;
  }
}

@media(max-width:750px){
 
  .main .header .info{
    display: none;
   
  }
  .main .header .nav-links{
    text-align: center;
    margin-left: -70px;
  }
}

@media(max-width:620px){
  .main .header {
    text-align: center;
    font-size: small;
  }
  .main .header .info{
    display: none;
   
  }
  .main .header .nav-links{
    text-align: center;
    padding: 0;
    margin-left: -175px;
  }
 
}